.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #121212;
    color: white;
  }
  
  .header {
    display: flex;
    margin-bottom: 2rem;
  }
  
  /* .logo {
    font-size: 2rem;
    margin-right: 1rem;
  } */
  
  .logoImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .title {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #888;
  }
  
  .time {
    margin-left: auto;
    font-size: 0.9rem;
    color: #888;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .left {
    flex: 1;
    padding-right: 2rem;
  }
  
  .right {
    width: 300px;
  }
  
  .question {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  
  .textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: #333;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    resize: both;
  }
  
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex: 1 1 100%; /* default to full width on smaller screens */
  }
  
  @media (min-width: 768px) {
    .flexContainer .inputContainer {
      flex: 1; /* side by side on larger screens */
      max-width: calc(50% - 1rem);
    }
  
    .inputContainer:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 2rem;
    }
  }
  
  .input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .currency , .icon {
    margin-right: 0.5rem;
  }
  
  .inputField {
    flex: 1;
    padding: 0.5rem;
    background-color: #333;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
  }
  
  .label {
    margin-bottom: 1.3rem;
  }
  
  .options {
    display: flex;
    margin-top: 2rem;
  }
  
  .option {
    margin-right: 1rem;
  }
  
  .optionText {
    margin-left: 0.25rem;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .checkboxText {
    margin-left: 0.5rem;
  }
  
  .submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    background-color: #333;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #050607;
  }
  
  .verticalLine {
    width: 1.2px;
    background-color: #444;
    height: auto;
    margin-left: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 2.3rem;
  }
  
  .horizontalLine {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin: 2rem 0;
  }
  
  .price {
    margin-bottom: 2rem;
  }
  
  .amount {
    font-size: 2rem;
  }
  
  .currency {
    font-size: 1rem;
  }
  
  .description {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .info {
    margin-bottom: 1rem;
  }
  
  .info .label {
    font-size: 0.9rem;
  }
  
  .info .value {
    display: flex;
    align-items: center;
  }
  
  .info .icon {
    margin-right: 0.5rem;
  }
  